<section
  class="login d-flex justify-content-center align-items-center vh-100 p-5"
>
  <section
    class="shadow rounded w-100 p-5"
    style="max-width: 800px; height:fit-content;"
  >
    <h2>Login</h2>
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-sm-8 col-md-6 col-xl-6">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid"
            alt="Phone image"
          />
        </div>
        <div class="col-sm-7 col-md-6 col-xl-6 mt-sm-5">
          <form action="/login" method="post">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                type="email"
                name="email"
                id="email"
                class="form-control form-control-lg"
                required
              />
              <label class="form-label" for="email">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input
                type="password"
                name="password"
                id="password"
                class="form-control form-control-lg"
                required
              />
              <label class="form-label" for="password">Password</label>
            </div>

            <div class="d-flex justify-content-around align-items-center mb-4">
              <a href="#!">Forgot password?</a>
            </div>
            <p class="text-danger text-center error">{{err}}</p>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign
              in</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>